<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
      
    </style>
</head>
<body>
    <body style="background-color: bisque;">
        <!-- <img src="https://media.tenor.com/AwQlq5-PtNwAAAAC/coffee-chocolate-drink.gif" style="height: 300px; width: 50%;"> -->
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;position: sticky;color: brown;height: 100px;
        font-size: 150px;">Cafe Coffee Day</h1><br><br><br>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Menu List</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                 
                 
            </div>
          </nav>
        <img src="https://content.jdmagicbox.com/comp/pune/y5/020pxx20.xx20.201104033336.b1y5/catalogue/cafe-coffee-day-prabhat-road-pune-coffee-shops-1qlbk2orrk.jpg" style="float: right;margin-top: 0.7%; height: 235px;width: 380px;"><br>
        <h2>All time classic</h2>
        <ul type="I">
            <li>classic cold  Coffee- 104 Rs</li>
            <li>Tropical iceberg    - 120 Rs</li>
            <li>Cold choco latte    - 109 Rs</li>
            <li>Hot chocolate       - 97  Rs</li>
        </ul><br><br><hr>
        <img src="https://insanelygoodrecipes.com/wp-content/uploads/2020/07/Cup-Of-Creamy-Coffee-500x375.png" style="float: left;width: 360px;height: 280px;margin-left: 0%;"><br><br>
        <h2 style="font-family: sans-serif;text-align: right;">Types of Coffee drinks</h2>
    <ul style="float:right;">
        <li> Espresso-80 Rs</li>
        <li> Latte/Iced Latte-150 Rs</li>
        <li>Americano-70 Rs</li>
        <li>Mocha-90 Rs</li>
        <li>Black Coffee-100 Rs</li>
    </ul><br><br><br><br><br><br><br><hr>
    <img src="https://preppykitchen.com/wp-content/uploads/2021/04/Milkshake-Recipe-Card.jpg" style="float: right; height: 280px; width: 390px;"><br><br>
    <dt><h2 style="text-align: left;">Chill shakes</h2></dt><br>
        <dd><li>classic strawberry-130 Rs</l>
        <li>Cocoa cookie-165 Rs</li>
        <li>Vennila shake-150 Rs</li></dd><br><br><br><br><hr>
        <h1 style="text-align: center;font-size: xx-large;">Benefits of Coffee</h1><br>
        <img src="https://espressocanada.com/cdn/shop/articles/Blog_Coffee_Bean_Varieties_1600x.jpg?v=1597785537" style="height: 220px;width: 500px; margin-left: 36%;">
        <p>Coffee does more than boost your energy. A few daily cups of coffee may also lower your risk of type 2 diabetes and depression, support weight management, and help you live a longer life. Just keep in mind that experts recommend limiting caffeine if you are pregnant or nursing</p>
        <p>Coffee is a beloved beverage known for its ability to fine-tune your focus and boost your energy levels.
    
            In fact, many people depend on their daily cup of joe right when they wake up to get their day started on the right foot.
            
            In addition to its energizing effects, coffee has been linked to a long list of potential health benefits, giving you all the more reason to get brewing.
            
            This article takes an in-depth look at 9 of the top evidence-based benefits of coffee.
        </p>
        <p>Coffee contains <span style="color: chocolate;">caffeine</span> a central nervous system stimulant that is known for its ability to fight fatigue and increase energy levels.One small study found that consuming caffeine increased time to exhaustion during a cycling exercise by 12% and significantly reduced subjective levels of fatigue in participants </p>
        <p>This is because caffeine blocks the receptors of a neurotransmitter called adenosine, and this increases levels of other neurotransmitters in your brain that regulate your energy levels, including dopamine </p>
    
</body>
</html>